body {
    background: black !important;
    color: aliceblue !important;
    font-size: 1.2em;
    font-family: sans-serif;
}

button {
    font-size: 1.2em;
}

.title {
    font-family: 'Shippori Antique', sans-serif;
    text-decoration: none;
    font-size: 3rem;
    color: aliceblue;
}

.uptext {
    margin-top: 50px;
}

.emoji {
    font-size: 4em;
    width: 300px;
    text-align: center;
    position: absolute;
    
    opacity: 0;
    /* transform: translateY(90vh); */
}

.emoji-pos-left {
    left: 50px;
    margin-right: 20px;
}

.emoji-pos-right {
    right: 100px;
    margin-right: 20px;
    /* float: right; */
}

.moving {
    animation: moveToTop 5s forwards;
}

.animate_text {
   
}

.center {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@keyframes moveToTop {
    from {
        opacity: 0;
        transform: translateY(50vh);
    }
    to {
        opacity: 1;
        transform: translateY(-150vh);
    }
}


* {
    box-sizing: border-box;
}

div {
    padding:10px;
}

#image img {
    width:100%;
}

video {
    /* display: none; */
}

canvas {
    
}